#title{
    text-align:left;
    float:top;    
    z-index:100;
}

body{
    margin:0;
}

#container{
    border: 1px solid black;  
    background-image:url('../img/canada-map.png');
}

.map_buttons{
    position:absolute;
    width:50px;
    height:50px;
    border-radius:25px;
    opacity: 1;
    border: 3px solid #000;
    box-shadow: 0px 5px 20px #FFFFFF inset, 0px -5px 20px #000000 inset;
}

#YK_button{
    background-color:#4ed7dc;
    top:200px;
    left:200px;
}

#NWT_button{
    background-color:#dee95c;
    top:250px;
    left:300px;
}

#BC_button{
    background-color:#dc4eca;
    top:350px;
    left:200px;
}

#NVT_button{
    background-color:#e8b446;
    top:250px;
    left:425px;
}

#ALB_button{
    background-color:#4ed7dc;
    top:365px;
    left:280px;
}

#SAS_button{
    background-color:#86c846;
    top:400px;
    left:350px;
}

#MAN_button{
    background-color:#ce6ced;
    top:400px;
    left:420px;
}

#ON_button{
    background-color:#dee95c;
    top:450px;
    left:525px;
}

#QC_button{
    background-color:#f587c5;
    top:400px;
    left:625px;
}

#NFL_button{
    background-color:#4ed7dc;
    top:340px;
    left:700px;
}

#NB_button{
    background-color:#dee95c;
    top:500px;
    left:705px;
}

#PEI_button{
    background-color:#dee95c;
    top:410px;
    left:740px;
}

#NS_button{
    background-color:#e8b446;
    top:480px;
    left:760px;
}