#titlepage{
    position:absolute;
    top:0;
    left:85px;    
    box-shadow: 0 0 10px 5px #383838;
}

body{
    background:url('../img/grey_wash_wall.png');
}

.ninjabutton{
    background:transparent;
    border:transparent;
    position:absolute;
}

#play{    
    top:160px;
    left:320px;
    width:350px;
    height:130px;
}

#inst{    
    top:320px;
    left:340px;
    width:350px;
    height:120px;
}

#opt{
    top:460px;
    left:340px;
    width:350px;
    height:120px;
}

#instructions,#options{
    position:absolute;
    display:none;
    padding:50px;
    left:162px;
    background-image:url('../img/grey_wash_wall.png');
    box-shadow: inset 0 0px 10px 5px #383838;
    top:0;
    height:500px;
    width:600px;
    font-family:Tahoma;
    color:white;
    font-size:24px;
    text-shadow: 2px 2px 3px #363636;
    line-height:30px;
}

#options{
    text-align:center;
    font-size:60px;
}

#quit-instructions, #quit-options, #sound,#info{
    width:100px;    
    height:60px;
    position:absolute;
    top:440px;
    left:300px;
    color:white;
    border:1px solid white;
    background-color:transparent;
    font-family:"Lucida Sans Unicode";
    font-weight:bold;
    font-size:24px;
    border-radius:15px;
}
#info{
    top:230px;
    left:150px;
    width:400px;
    height:150px;
    font-size:20px;    
    text-shadow: 1px 1px 2px #424242;
}

#sound{
    top:150px;
    left:150px;
    width:400px;
    font-size:30px;
    background-color:rgba(0,200,0,0.3);    
    text-shadow: 1px 1px 2px #424242;
}

a{
    color:#a1a1a1;
    text-decoration:none;
}

span{
    font-size:12px;
}

#sound:active,#sound:hover{
    background-color:rgba(10, 133, 10,0.8);
}

#quit-instrucitons:active,#quit-options:active, 
 #quit-instructions:hover,#quit-options:hover{
    background-color:white;
    color:#5c5c5c;
}

