body{
     background:url('../img/grey_wash_wall.png');
     overflow-x: hidden;
}

#shop-container{
    position:absolute;
    top:0px;
    left:0px;
    width:975px;
    height:550px;
    background:rgba(91,91,91,1);
    background-image:url('../img/grey_wash_wall.png');
    border-image:url('../img/grey_wash_wall.png');
    border-width:25px;
}

.indicator{
    position:absolute;
    top:20px;
    font-size:30px;
    color:white;
    background-color:transparent;
    font-family:"Lucida Sans Unicode";
    font-weight:bold;
}

#acorn-indicator{
    left:75px;
}

#acorn-div{
    position:absolute;
    top:70px;
    left:35px;
    height:50px;
    width:50px;
    background-color:#e0e0e0;
    text-shadow:3px 3px 4px #2b2b2b;
    border-radius:6px;
    z-index:1;
}

#acorn-image{
    position:absolute;
    left:5px;
    top:5px;
    clip:rect(0, 40px, 40px, 0);
}

#money-indicator{
    left:250px;
}

#shop-title{
    text-align:center;
    font-size:50px;
    color:#e0e0e0;
    font-family:Tahoma;
    text-shadow:3px 3px 4px #2b2b2b;
}

#shop-table{
    position:absolute;
    top:100px;
    width:100%;
    height:450px;
    table-layout:fixed;
}

#nextbutton{
    position:absolute;
    top:40px;
    left:735px;
    width:230px;
    height:50px;
    font-size:20px;
    color:white;
    border:1px solid white;
    background-color:transparent;
    font-family:"Lucida Sans Unicode";
    font-weight:bold;
    border-radius:6px;
}

#goodfeelings{
    position:absolute;
    top:70px;
    left:190px;
    width:50px;
    height:50px;
    font-size:20px;
    color:white;
    border:1px solid white;
    background-color:transparent;
    font-family:"Tahoma";
    font-weight:bold;
    border-radius:6px;
}

#nextbutton:active, #nextbutton:hover,#goodfeelings:active,#goodfeelings:hover{
    background-color:white;
    color:#5c5c5c;
}

p{
    font-family:Tahoma;
    font-size:14px;
    color:white;
}

.shop-buttons{
    background:rgba(0, 0, 0,0.45);
    box-shadow: 0 0 3px 3px #2e2e2e;
    border:solid #a1a1a1 1px;
}

.price{
    position:absolute;
    font-weight:bold;
    font-size:16px;
}

.name{
    position:absolute;
    font-weight:bold;    
    font-size:12px;
}

.desc{
    position:absolute;
    height:90px;
    width:115px;
}

.upgrade{
     position:absolute;
}

#upgrade1{
    clip: rect(0, 100px, 100px, 0);
}

#upgrade2{
    clip: rect(0, 200px, 100px, 100px);
}

#upgrade3{
    clip: rect(0, 300px, 100px, 200px);
}

#upgrade4{
    clip: rect(0, 400px, 100px, 300px);
}

#upgrade5{
    clip: rect(100px, 100px, 200px, 0);
}

#upgrade6{
    clip: rect(100px, 200px, 200px, 100px);
}

#upgrade7{
    clip: rect(100px, 300px, 200px, 200px);
}

#upgrade8{
    clip: rect(100px, 400px, 200px, 300px);
}

#upgrade9{
    clip: rect(200px, 100px, 300px, 0);
}

#upgrade10{
    clip: rect(200px, 200px, 300px, 100px);
}

#upgrade11{
    clip: rect(200px, 300px, 300px, 200px);
}

#upgrade12{
    clip: rect(200px, 400px, 300px, 300px);
}
