body {
    margin:0;
}

#keys{
    position:absolute;
    top:450px;
    left:800px;
    text-align:center; 
    table-layout:fixed;       
    font-size:150%;
    padding:0;
    margin:0;
}

.arrow-key{
    margin:10px;
    width:110%;
    height:90%;
    background:#ffffff;
    background: rgba(218, 240, 187,0.2);
    color: white;
    font-weight: bold;
    font-size:150%;
    border: 1px solid #d8e3c7;
    border-radius: 4px;   
    text-shadow: 1px 1px 7px #293311;
        filter: dropshadow(color=#293311, offx=1, offy=1);
    font-family:"Trebuchet MS", Helvetica, sans-serif;
}
.arrow-key:active{
    background: -webkit-radial-gradient(circle, #71a32a, #29700c);
}

.no-select{
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}