*{
    margin: 0px;
    padding: 0px;
}

#title{
    text-align:center;
    float:top
}

body{
    background-image:url('images/paper-body-back.png');
    background-position:center;
    height:100%;
    width:100%;
}

#map_picture{
    float:top;
    width:100%;
}
