*{
    margin: 0px;
    padding: 0px;
}

#title{
    text-align:center;
    float:top
}

body{
    background-image:url('images/paper-body-back.png');
    background-position:center;
    height:100%;
    width:100%;
}

#map_picture{
    float:top;
    width:100%;
}

.map_buttons{
    width:7%;
    opacity: 1;
    border: 1px solid #000;
    box-shadow: 0px 0px 20px #fff inset, 0px -0px 20px #000 inset;
    -webkit-box-shadow: 0px 0px 20px #fff inset, 0px -0px 20px #000 inset;
    -moz-box-shadow: 0px 0px 20px #fff inset, 0px -0px 20px #000 inset;
}

#YK_button{
    position:absolute;
    top:45%;
    left:5%;
}

#NWT_button{
    position:absolute;
    top:50%;
    left:18%;
}

#BC_button{
    position:absolute;
    top:75%;
    left:7%;
}

#NVT_button{
    position:absolute;
    top:57%;
    left:38%;
}

#ALB_button{
    position:absolute;
    top:77%;
    left:18%;
}

#SAS_button{
    position:absolute;
    top:79%;
    left:28%;
}

#MAN_button{
    position:absolute;
    top:81%;
    left:37%;
}

#ON_button{
    position:absolute;
    top:93%;
    left:53%;
}


