*{
    margin: 0px;
    padding: 0px;
}

#title{
    text-align:center;
    float:top
}

body{
    background-image:url('images/paper-body-back.png');
    background-position:center;
    height:100%;
    width:100%;
}

#map_picture{
    float:top;
    width:100%;
}

#yukon_button{

    opacity: 1;
    border: 1px solid #000;
    border-radius: 30px;
    box-shadow: 0px 0px 20px #fff inset, 0px -0px 20px #000 inset;
    -webkit-box-shadow: 0px 0px 20px #fff inset, 0px -0px 20px #000 inset;
    -moz-box-shadow: 0px 0px 20px #fff inset, 0px -0px 20px #000 inset;
    -ms-box-shadow: 0px 0px 20px #fff inset, 0px -0px 20px #000 inset;
    -o-box-shadow: 0px 0px 20px #fff inset, 0px -0px 20px #000 inset;
}
